<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="theme-color" content="#fafafa">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
  </head>
  <body>
    <header>
      {{template "templates/nav" .}}
    </header>
    <!-- Add your site or application content here -->
    <div class="container">
      <form>
        <label for="numberOfPlayersOnTeams">Choose the number of players on teams: </label>
        <select name="auctionHouse" id="auctionHouse" onchange="ShowHideDiv()">
          <option value="Pick">Realm</option>
          <option value="aegwynn">Aegwynn</option>
          <option value="aerie peak">Aerie Peak</option>
          <option value="agamaggan">Agamaggan</option>
          <option value="aggramar">Aggramar</option>
          <option value="akama">Akama</option>
          <option value="alexstrasza">Alexstrasza</option>
          <option value="alleria">Alleria</option>
          <option value="altar of storms">Altar of Storms</option>
          <option value="alterac mountains">Alterac Mountains</option>
          <option value="andorhal">Andorhal</option>
          <option value="Anetheron">Anetheron</option>
          <option value="antonidas">Antonidas</option>
          <option value="anub'arak">Anub'arak</option>
          <option value="anvilmar">Anvilmar</option>
          <option value="arathor">Arathor</option>
          <option value="archimonde">Archimonde</option>
          <option value="area 52">Area 52</option>
          <option value="argent dawn">Argent Dawn</option>
          <option value="archimonde">Archimonde</option>
          <option value="arthas">Arthas</option>
          <option value="arygos">Arygos</option>
          <option value="auchindoun">Auchindoun</option>
          <option value="azgalor">Azgalor</option>
          <option value="azjol-nerub">Azjol-Nerub</option>
          <option value="azshara">Azshara</option>
          <option value="azuremyst">Azuremyst</option>
          <option value="baelgun">Baelgun</option>
          <option value="balnazzar">Balnazzar</option>
          <option value="black dragonflight">Black Dragonflight</option>
          <option value="blackhand">Blackhand</option>
          <option value="blackrock">Blackrock</option>
          <option value="blackwater raiders">Blackwater Raiders</option>
          <option value="blackwing lair">Blackwing Lair</option>
          <option value="blade's edge">Blade's Edge</option>
          <option value="bleeding hollow">Bleeding Hollow</option>
          <option value="blood furnace">Blood Furnace</option>
          <option value="bloodhoof">Bloodhoof</option>
          <option value="bloodscalp">Bloodscalp</option>
          <option value="bonechewer">Bonechewer</option>
          <option value="borean tundra">Borean Tundra</option>
          <option value="boulderfist">Boulderfist</option>
          <option value="bronzebeard">Bronzebeard</option>
          <option value="burning blade">Burning Blade</option>
          <option value="burning legion">Burning Legion</option>
          <option value="cairne">Cairne</option>
          <option value="cenarion circle">Cenarion Circle</option>
          <option value="cenarius">Cenarius</option>
          <option value="cho'gall">Cho'gall</option>
          <option value="chromaggus">Chromaggus</option>
          <option value="coilfang">Coilfang</option>
          <option value="crushridge">Crushridge</option>
          <option value="daggerspine">Daggerspine</option>
          <option value="dalaran">Dalaran</option>
          <option value="dalvengyr">Dalvengyr</option>
          <option value="dark iron">Dark Iron</option>
          <option value="darkspear">Darkspear</option>
          <option value="darrowmere">Darrowmere</option>
          <option value="dawnbringer">Dawnbringer</option>
          <option value="deathwing">Deathwing</option>
          <option value="demon soul">Demon Soul</option>
          <option value="dentarg">Dentarg</option>
          <option value="destromath">Destromath</option>
          <option value="dethecus">Dethecus</option>
          <option value="detheroc">Detheroc</option>
          <option value="doomhammer">Doomhammer</option>
          <option value="draenor">Draenor</option>
          <option value="dragonblight">Dragonblight</option>
          <option value="dragonmaw">Dragonmaw</option>
          <option value="drak'tharon">Drak'Tharon</option>
          <option value="drak'thul">Drak'thul</option>
          <option value="draka">Draka</option>
          <option value="drenden">Drenden</option>
          <option value="dunemaul">Dunemaul</option>
          <option value="durotan">Durotan</option>
          <option value="duskwood">Duskwood</option>
          <option value="earthen ring">Dethecus</option>
          <option value="earthen ring">Earthen Ring</option>
          <option value="echo isles">Echo Isles</option>
          <option value="eitrigg">Eitrigg</option>
          <option value="eldre'thalas">Eldre'Thalas</option>
          <option value="elune">Elune</option>
          <option value="emerald dream">Emerald Dream</option>
          <option value="eonar">Eonar</option>
          <option value="eredar">Eredar</option>
          <option value="executus">Executus</option>
          <option value="exodar">Exodar</option>
          <option value="farstriders">Farstriders</option>
          <option value="feathermoon">Feathermoon</option>
          <option value="fenris">Fenris</option>
          <option value="firetree">Firetree</option>
          <option value="fizzcrank">Fizzcrank</option>
          <option value="frostmane">Frostmane</option>
          <option value="frostwolf">Frostwolf</option>
          <option value="galakrond">Galakrond</option>
          <option value="garithos">Garithos</option>
          <option value="garona">Garona</option>
          <option value="garrosh">Garrosh</option>
          <option value="ghostlands">Ghostlands</option>
          <option value="gilneas">Gilneas</option>
          <option value="gnomeregan">Gnomeregan</option>
          <option value="frostwolf">Frostwolf</option>
          <option value="gorefiend">Gorefiend</option>
          <option value="gorgonnash">Gorgonnash</option>
          <option value="greymane">Greymane</option>
          <option value="grizzly hills">Grizzly Hills</option>
          <option value="gul'dan">Gul'dan</option>
          <option value="gurubashi">Gurubashi</option>
          <option value="hakkar">Hakkar</option>
          <option value="haomarush">Haomarush</option>
          <option value="hellscream">Hellscream</option>
          <option value="hydraxis">Hydraxis</option>
          <option value="hyjal">Hyjal</option>
          <option value="icecrown">Icecrown</option>
          <option value="illidan">Illidan</option>
          <option value="jaedenar">Jaedenar</option>
          <option value="kael'thas">Kael'thas</option>
          <option value="kalecgos">Kalecgos</option>
          <option value="kargath">Kargath</option>
          <option value="kel'thuzad">Kel'Thuzad</option>
          <option value="khadgar">Khadgar</option>
          <option value="khaz modan">Khaz Modan</option>
          <option value="kil'jaeden">Kil'jaeden</option>
          <option value="Kilrogg">kilrogg</option>
          <option value="korgath">Korgath</option>
          <option value="korialstrasz">Korialstrasz</option>
          <option value="kul tiras">Kul Tiras</option>
          <option value="laughing skull">Laughing Skull</option>
          <option value="lethon">Lethon</option>
          <option value="lightbringer">Lightbringer</option>
          <option value="lightning's blade">Lightning's Blade</option>
          <option value="lightninghoof">Lightninghoof</option>
          <option value="llane">Llane</option>
          <option value="lothar">Lothar</option>
          <option value="madoran">Madoran</option>
          <option value="maelstrom">Maelstrom</option>
          <option value="magtheridon">Magtheridon</option>
          <option value="maiev">Maiev</option>
          <option value="mal'ganis">Mal'Ganis</option>
          <option value="malfurion">Malfurion</option>
          <option value="malorne">Malorne</option>
          <option value="malygos">Malygos</option>
          <option value="mannoroth">Mannoroth</option>
          <option value="medivh">Medivh</option>
          <option value="misha">Misha</option>
          <option value="mok'nathal">Mok'Nathal</option>
          <option value="moon guard">Moon Guard</option>
          <option value="moonrunner">Moonrunner</option>
          <option value="mug'thol">Mug'thol</option>
          <option value="muradin">Muradin</option>
          <option value="nathrezim">Nathrezim</option>
          <option value="nazgrel">Nazgrel</option>
          <option value="nazjatar">Nazjatar</option>
          <option value="ner'zhul">Ner'zhul</option>
          <option value="nesingwary">Nesingwary</option>
          <option value="nordrassil">Nordrassil</option>
          <option value="norgannon">Norgannon</option>
          <option value="onyxia">Onyxia</option>
          <option value="perenolde">Perenolde</option>
          <option value="kirin tor">Kirin Tor</option>
          <option value="kirin tor">Kirin Tor</option>
        </select>
        <br />
      </form>
    </div>

    <div class="container" id="teamPicker2v2" style="display: none">
      <form>
        <label for="Players for the customs">Players</label>
        <br />
        <div class="container">
          <label for="players">Player 1</label>
          <br />
          <input id="player1" name="players2v2" class="players2v2" rows="1" cols="50" />
          <br />
          <label for="players">Player 2</label>
          <br />
          <input id="player2" name="players2v2" class="players2v2" rows="1" cols="50" />
          <br />
          <label for="players">Player 3</label>
          <br />
          <input id="player3" name="players2v2" class="players2v2" rows="1" cols="50" />
          <br />
          <label for="players">Player 4</label>
          <br />
          <input id="player4" name="players2v2" class="players2v2" rows="1" cols="50" />
          <br />
        </div>

        <br />

        <button type="button" id="playerSubmit2v2" name="Submit" onclick="randomize2v2(); ShowRandomTeams2v2();">Submit</button>

        <br />
        <br />

        <input type="button" value="Clear Teams" id="clearTeams2v2" />
      </form>
    </div>

    {{template "templates/footer" .}}

    <script src="js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
      ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
