<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="theme-color" content="#fafafa">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script src="js/auction.js"></script>
  </head>
  <body>
    <header>
      {{template "templates/nav" .}}
    </header>
    <div class="container">
      <form method="post" action="/realm" name="realm">
        <label for="realmWanted">Choose the realm you want to view the auction house for: </label>
        <select name="realm" size="1" id="realm" onchange="ShowHideDiv()">
          <option name="realm-name" value="aegwynn">Aegwynn</option>
          <option name="realm-name" value="aerie peak">Aerie Peak</option>
          <option name="realm-name" value="agamaggan">Agamaggan</option>
          <option name="realm-name" value="aggramar">Aggramar</option>
          <option name="realm-name" value="akama">Akama</option>
          <option name="realm-name" value="alexstrasza">Alexstrasza</option>
          <option name="realm-name" value="alleria">Alleria</option>
          <option name="realm-name" value="altar of storms">Altar of Storms</option>
          <option name="realm-name" value="alterac mountains">Alterac Mountains</option>
          <option name="realm-name" value="andorhal">Andorhal</option>
          <option name="realm-name" value="Anetheron">Anetheron</option>
          <option name="realm-name" value="antonidas">Antonidas</option>
          <option name="realm-name" value="anub'arak">Anub'arak</option>
          <option name="realm-name" value="anvilmar">Anvilmar</option>
          <option name="realm-name" value="arathor">Arathor</option>
          <option name="realm-name" value="archimonde">Archimonde</option>
          <option name="realm-name" value="area 52">Area 52</option>
          <option name="realm-name" value="argent dawn">Argent Dawn</option>
          <option name="realm-name" value="archimonde">Archimonde</option>
          <option name="realm-name" value="arthas">Arthas</option>
          <option name="realm-name" value="arygos">Arygos</option>
          <option name="realm-name" value="auchindoun">Auchindoun</option>
          <option name="realm-name" value="azgalor">Azgalor</option>
          <option name="realm-name" value="azjol-nerub">Azjol-Nerub</option>
          <option name="realm-name" value="azshara">Azshara</option>
          <option name="realm-name" value="azuremyst">Azuremyst</option>
          <option name="realm-name" value="baelgun">Baelgun</option>
          <option name="realm-name" value="balnazzar">Balnazzar</option>
          <option name="realm-name" value="black dragonflight">Black Dragonflight</option>
          <option name="realm-name" value="blackhand">Blackhand</option>
          <option name="realm-name" value="blackrock">Blackrock</option>
          <option name="realm-name" value="blackwater raiders">Blackwater Raiders</option>
          <option name="realm-name" value="blackwing lair">Blackwing Lair</option>
          <option name="realm-name" value="blade's edge">Blade's Edge</option>
          <option name="realm-name" value="bleeding hollow">Bleeding Hollow</option>
          <option name="realm-name" value="blood furnace">Blood Furnace</option>
          <option name="realm-name" value="bloodhoof">Bloodhoof</option>
          <option name="realm-name" value="bloodscalp">Bloodscalp</option>
          <option name="realm-name" value="bonechewer">Bonechewer</option>
          <option name="realm-name" value="borean tundra">Borean Tundra</option>
          <option name="realm-name" value="boulderfist">Boulderfist</option>
          <option name="realm-name" value="bronzebeard">Bronzebeard</option>
          <option name="realm-name" value="burning blade">Burning Blade</option>
          <option name="realm-name" value="burning legion">Burning Legion</option>
          <option name="realm-name" value="cairne">Cairne</option>
          <option name="realm-name" value="cenarion circle">Cenarion Circle</option>
          <option name="realm-name" value="cenarius">Cenarius</option>
          <option name="realm-name" value="cho'gall">Cho'gall</option>
          <option name="realm-name" value="chromaggus">Chromaggus</option>
          <option name="realm-name" value="coilfang">Coilfang</option>
          <option name="realm-name" value="crushridge">Crushridge</option>
          <option name="realm-name" value="daggerspine">Daggerspine</option>
          <option name="realm-name" value="dalaran">Dalaran</option>
          <option name="realm-name" value="dalvengyr">Dalvengyr</option>
          <option name="realm-name" value="dark iron">Dark Iron</option>
          <option name="realm-name" value="darkspear">Darkspear</option>
          <option name="realm-name" value="darrowmere">Darrowmere</option>
          <option name="realm-name" value="dawnbringer">Dawnbringer</option>
          <option name="realm-name" value="deathwing">Deathwing</option>
          <option name="realm-name" value="demon soul">Demon Soul</option>
          <option name="realm-name" value="dentarg">Dentarg</option>
          <option name="realm-name" value="destromath">Destromath</option>
          <option name="realm-name" value="dethecus">Dethecus</option>
          <option name="realm-name" value="detheroc">Detheroc</option>
          <option name="realm-name" value="doomhammer">Doomhammer</option>
          <option name="realm-name" value="draenor">Draenor</option>
          <option name="realm-name" value="dragonblight">Dragonblight</option>
          <option value="dragonmaw">Dragonmaw</option>
          <option value="drak'tharon">Drak'Tharon</option>
          <option value="drak'thul">Drak'thul</option>
          <option value="draka">Draka</option>
          <option value="drenden">Drenden</option>
          <option value="dunemaul">Dunemaul</option>
          <option value="durotan">Durotan</option>
          <option value="duskwood">Duskwood</option>
          <option value="earthen ring">Dethecus</option>
          <option value="earthen ring">Earthen Ring</option>
          <option value="echo isles">Echo Isles</option>
          <option value="eitrigg">Eitrigg</option>
          <option value="eldre'thalas">Eldre'Thalas</option>
          <option value="elune">Elune</option>
          <option value="emerald dream">Emerald Dream</option>
          <option value="eonar">Eonar</option>
          <option value="eredar">Eredar</option>
          <option value="executus">Executus</option>
          <option value="exodar">Exodar</option>
          <option value="farstriders">Farstriders</option>
          <option value="feathermoon">Feathermoon</option>
          <option value="fenris">Fenris</option>
          <option value="firetree">Firetree</option>
          <option value="fizzcrank">Fizzcrank</option>
          <option value="frostmane">Frostmane</option>
          <option value="frostwolf">Frostwolf</option>
          <option value="galakrond">Galakrond</option>
          <option value="garithos">Garithos</option>
          <option value="garona">Garona</option>
          <option value="garrosh">Garrosh</option>
          <option value="ghostlands">Ghostlands</option>
          <option value="gilneas">Gilneas</option>
          <option value="gnomeregan">Gnomeregan</option>
          <option value="frostwolf">Frostwolf</option>
          <option value="gorefiend">Gorefiend</option>
          <option value="gorgonnash">Gorgonnash</option>
          <option value="greymane">Greymane</option>
          <option value="grizzly hills">Grizzly Hills</option>
          <option value="gul'dan">Gul'dan</option>
          <option value="gurubashi">Gurubashi</option>
          <option value="hakkar">Hakkar</option>
          <option value="haomarush">Haomarush</option>
          <option value="hellscream">Hellscream</option>
          <option value="hydraxis">Hydraxis</option>
          <option value="hyjal">Hyjal</option>
          <option value="icecrown">Icecrown</option>
          <option value="illidan">Illidan</option>
          <option value="jaedenar">Jaedenar</option>
          <option value="kael'thas">Kael'thas</option>
          <option value="kalecgos">Kalecgos</option>
          <option value="kargath">Kargath</option>
          <option value="kel'thuzad">Kel'Thuzad</option>
          <option value="khadgar">Khadgar</option>
          <option value="khaz modan">Khaz Modan</option>
          <option value="kil'jaeden">Kil'jaeden</option>
          <option value="Kilrogg">kilrogg</option>
          <option value="korgath">Korgath</option>
          <option value="korialstrasz">Korialstrasz</option>
          <option value="kul tiras">Kul Tiras</option>
          <option value="laughing skull">Laughing Skull</option>
          <option value="lethon">Lethon</option>
          <option value="lightbringer">Lightbringer</option>
          <option value="lightning's blade">Lightning's Blade</option>
          <option value="lightninghoof">Lightninghoof</option>
          <option value="llane">Llane</option>
          <option value="lothar">Lothar</option>
          <option value="madoran">Madoran</option>
          <option value="maelstrom">Maelstrom</option>
          <option value="magtheridon">Magtheridon</option>
          <option value="maiev">Maiev</option>
          <option value="mal'ganis">Mal'Ganis</option>
          <option value="malfurion">Malfurion</option>
          <option value="malorne">Malorne</option>
          <option value="malygos">Malygos</option>
          <option value="mannoroth">Mannoroth</option>
          <option value="medivh">Medivh</option>
          <option value="misha">Misha</option>
          <option value="mok'nathal">Mok'Nathal</option>
          <option value="moon guard">Moon Guard</option>
          <option value="moonrunner">Moonrunner</option>
          <option value="mug'thol">Mug'thol</option>
          <option value="muradin">Muradin</option>
          <option value="nathrezim">Nathrezim</option>
          <option value="nazgrel">Nazgrel</option>
          <option value="nazjatar">Nazjatar</option>
          <option value="ner'zhul">Ner'zhul</option>
          <option value="nesingwary">Nesingwary</option>
          <option value="nordrassil">Nordrassil</option>
          <option value="norgannon">Norgannon</option>
          <option value="onyxia">Onyxia</option>
          <option value="perenolde">Perenolde</option>
          <option value="proudmoore">Proudmoore</option>
          <option value="quel'thalas">Quel'Thalas</option>
          <option value="quel'dorei">Quel'dorei</option>
          <option value="ragnaros">Ragnaros</option>
          <option value="ravencrest">Ravencrest</option>
          <option value="ravenholdt">Ravenholdt</option>
          <option value="rexxar">Rexxar</option>
          <option value="rivendare">Rivendare</option>
          <option value="runetotem">Runetotem</option>
          <option value="sargeras">Sargeras</option>
          <option value="saurfang">Saurfang</option>
          <option value="scarlet crusade">Scarlet Crusade</option>
          <option value="scolla">Scilla</option>
          <option value="sen'jin">Sen'jin</option>
          <option value="sentinels">Sentinels</option>
          <option value="shadow council">Shadow Council</option>
          <option value="shadowmoon">Shadowmoon</option>
          <option value="shadowsong">Shadowsong</option>
          <option value="shandris">Shandris</option>
          <option value="shattered halls">Shattered Halls</option>
          <option value="shattered hand">Shattered Hand</option>
          <option value="shu'halo">Shu'halo</option>
          <option value="silver hand">Silver Hand</option>
          <option value="silvemoon">Silvermoon</option>
          <option value="sister of elune">Sister of Elune</option>
          <option value="skullcrusher">Skullcrusher</option>
          <option value="skywall">Skywall</option>
          <option value="smolderthorn">Smolderthorn</option>
          <option value="spinebreaker">Spinebreaker</option>
          <option value="spirestone">Spirestone</option>
          <option value="staghelm">Staghelm</option>
          <option value="steamwheedle cartel">Steamwheedle Cartel</option>
          <option value="stonemaul">Stonemaul</option>
          <option value="stormrage">Stormrage</option>
          <option value="stormreaver">Stormreaver</option>
          <option value="stormscale">Stormscale</option>
          <option value="suramar">Suramar</option>
          <option value="tanaris">Tanaris</option>
          <option value="terokkar">Terokkar</option>
          <option value="thaurissan">Thaurissan</option>
          <option value="the forgotten coast">The Forgotten Coast</option>
          <option value="the scryers">The Scryers</option>
          <option value="the underbog">The Underbog</option>
          <option value="the venture co">The Venture Co</option>
          <option value="thorium brotherhood">Thorium Brotherhood</option>
          <option value="thrall">Thrall</option>
          <option value="thunderhorn">Thunderhorn</option>
          <option value="thunderlord">Thunderlord</option>
          <option value="tichondrius">Tichondrius</option>
          <option value="tol barad">Tol Barad</option>
          <option value="tortheldrin">Tortheldrin</option>
          <option value="trollbane">Trollbane</option>
          <option value="turalyon">Turalyon</option>
          <option value="twisting nether">Twisting Nether</option>
          <option value="uldaman">Uldaman</option>
          <option value="uldum">Uldum</option>
          <option value="undermine">Undermine</option>
          <option value="ursin">Ursin</option>
          <option value="uther">Uther</option>
          <option value="vashj">Vashj</option>
          <option value="vek'nilash">Vek'nilash</option>
          <option value="velen">Velen</option>
          <option value="warsong">Warsong</option>
          <option value="whisperwind">Whisperwind</option>
          <option value="wildhammer">Wildhammer</option>
          <option value="windrunner">Wildrunner</option>
          <option value="winterhoof">Winterhoof</option>
          <option value="wyrmrest accord">Wyrmrest Accord</option>
          <option value="ysera">Ysera</option>
          <option value="ysondre">Ysondre</option>
          <option value="zangarmarsh">Zangarmarsh</option>
          <option value="zul'jin">Zul'jin</option>
          <option value="zuluhead">Zuluhead</option>
        </select>
        <button type="submit">Submit</button>
        <br />
      </form>
    </div>

    {{template "templates/footer" .}}
  </body>
</html>

